In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
df_full = pd.read_csv("data/full_data_encoded.csv", low_memory=False)
df_full

,index,Unnamed: 0,Date,Year,Month,Global Temperature Anomalies,Global Precipitation,Nino 1+2 SST,Nino 1+2 SST Anomalies,Nino 3 SST,...,Season (2-Month),MEI.ext,MEI.v2,Season (3-Month),ONI,Season (12-Month),ENSO Phase-Intensity,high,low,ENSO_encoded
0,120,120,1960-01-01,1960,JAN,0.04,NaN,NaN,NaN,NaN,...,DJ,-0.070,NaN,DJF,-0.1,1960-1961,N,32.290323,17.432258,0
1,121,121,1960-02-01,1960,FEB,0.15,NaN,NaN,NaN,NaN,...,JF,0.073,NaN,JFM,-0.1,1960-1961,N,30.275862,14.055172,0
2,122,122,1960-03-01,1960,MAR,-0.24,NaN,NaN,NaN,NaN,...,FM,0.106,NaN,FMA,-0.1,1960-1961,N,31.645161,12.535484,0
3,123,123,1960-04-01,1960,APR,-0.11,NaN,NaN,NaN,NaN,...,MA,0.167,NaN,MAM,0.0,1960-1961,N,58.566667,37.913333,0
4,124,124,1960-05-01,1960,MAY,-0.07,NaN,NaN,NaN,NaN,...,AM,0.177,NaN,AMJ,0.0,1960-1961,N,65.548387,47.412903,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,895,895,2024-08-01,2024,AUG,1.27,84.55,20.52,-0.34,24.97,...,JA,NaN,-0.73,JAS,-0.1,2024-2025,N,79.387097,61.129032,0
776,896,896,2024-09-01,2024,SEP,1.25,80.73,19.91,-0.68,24.85,...,AS,NaN,-0.65,ASO,-0.2,2024-2025,N,76.833333,54.933333,0
777,897,897,2024-10-01,2024,OCT,1.33,84.96,20.55,-0.32,25.04,...,SO,NaN,-0.52,SON,-0.3,2024-2025,N,66.129032,42.651613,0
778,898,898,2024-11-01,2024,NOV,1.32,81.76,21.88,0.26,25.17,...,ON,NaN,-0.68,OND,-0.4,2024-2025,N,49.666667,37.733333,0
779,899,899,2024-12-01,2024,DEC,1.29,84.25,22.74,-0.10,24.91,...,ND,NaN,-0.91,NDJ,-0.5,2024-2025,N,35.870968,25.258065,0

In [4]:
missing = df_full["Global Precipitation"].isna().sum()
print(missing)

228

In [5]:
228/12

19.0

In [11]:
df_full.iloc[0:302,:]

,index,Unnamed: 0,Date,Year,Month,Global Temperature Anomalies,Global Precipitation,Nino 1+2 SST,Nino 1+2 SST Anomalies,Nino 3 SST,...,Season (2-Month),MEI.ext,MEI.v2,Season (3-Month),ONI,Season (12-Month),ENSO Phase-Intensity,high,low,ENSO_encoded
0,120,120,1960-01-01,1960,JAN,0.04,NaN,NaN,NaN,NaN,...,DJ,-0.070,NaN,DJF,-0.1,1960-1961,N,32.290323,17.432258,0
1,121,121,1960-02-01,1960,FEB,0.15,NaN,NaN,NaN,NaN,...,JF,0.073,NaN,JFM,-0.1,1960-1961,N,30.275862,14.055172,0
2,122,122,1960-03-01,1960,MAR,-0.24,NaN,NaN,NaN,NaN,...,FM,0.106,NaN,FMA,-0.1,1960-1961,N,31.645161,12.535484,0
3,123,123,1960-04-01,1960,APR,-0.11,NaN,NaN,NaN,NaN,...,MA,0.167,NaN,MAM,0.0,1960-1961,N,58.566667,37.913333,0
4,124,124,1960-05-01,1960,MAY,-0.07,NaN,NaN,NaN,NaN,...,AM,0.177,NaN,AMJ,0.0,1960-1961,N,65.548387,47.412903,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,417,417,1984-10-01,1984,OCT,0.17,85.64,20.45,-0.43,24.18,...,SO,-0.102,-0.19,SON,-0.6,1984-1985,WL,62.451613,27.341935,1
298,418,418,1984-11-01,1984,NOV,0.08,81.68,21.42,-0.21,24.15,...,ON,-0.359,-0.58,OND,-0.9,1984-1985,WL,46.366667,21.453333,1
299,419,419,1984-12-01,1984,DEC,0.02,83.73,22.62,-0.21,23.89,...,ND,-0.660,-0.28,NDJ,-1.1,1984-1985,WL,38.612903,10.606452,1
300,420,420,1985-01-01,1985,JAN,0.27,82.99,23.59,-0.93,24.28,...,DJ,-0.744,-0.25,DJF,-1.0,1985-1986,N,23.935484,7.412903,0
301,421,421,1985-02-01,1985,FEB,0.04,77.44,24.79,-1.30,25.24,...,JF,-0.777,-0.58,JFM,-0.9,1985-1986,N,28.178571,3.535714,0